  <div>
    <h2>Past Winners</h2>
    <p>Hey, this is our first competition. No past winner.</p>
    
    <p>But, you can be <b>the first winner!</b> </p>
    <p><!-- <a class="btn" href="#">View details »</a> --></p>
  </div>
  
  <div>
    <h2>Sponsors</h2>
    <p>It is still just us, by ourself.</p>
    
    <p>Do you think that you have some sponsors in mind? Link them up to us!
      Send the details to <b>lovely.admin@photlr.com</b> </p>
    <p><!-- <a class="btn" href="#">View details »</a> --></p>
  </div>
