<div class="hero-unit">
  <h1>Pilih Project!</h1>
  <p>Di bawah ini terdapat beberapa project dimana kamu dapat berpartisipasi.<br />
    Jangan rakus, cobalah satu dahulu. Jika sudah yakin bisa, maka
    silakan <b>kerjakan project sebanyak-banyaknya</b>!  
  </p>
</div>

<!-- Example row of columns -->




<div class="row">
  <div class="span8">
    <table cellpadding="0" cellspacing="0" border="0" 
          class="table table-striped table-bordered" id="example">
      <thead>
        <tr>
          <th>Company</td>
          <th>Project Description</th>
          <th>Hadiah</th>
          <th>Action</th>
        </tr>
      <thead>
      <tbody>
          <% (1..10).each do %>
          <tr>
            <td style="text-align:center;">SecondSkin</td>
            <td style="text-align:center;">Design fashion untuk busana wanita streetwear</td>
            <td style="text-align:center;"> 5jt</td>
            <td style="text-align:center;"><a class="btn btn-primary ">Daftar »</a></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  
  
  <div class="span4">
    <div>
      <h2>Ads ETC</h2>
      <p>Like us in facebook! </p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    
    <div>
      <h2>Past Winners</h2>
      <p>Like us in facebook! </p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    
    <div>
      <h2>Sponsors</h2>
      <p>Like us in facebook! </p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    
  </div>
</div>